

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  background-color: black;
  color: white;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.nav-container {
  width: 100%; 
  padding-inline: 70px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  color: white;
  z-index: 100;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: white;
}

.nav-logo {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  object-fit: cover;
  border: 2px solid white;
}

.logo-text {
  margin: 0;
  line-height: 1;
  font-weight: 600;
}

.nav-right {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-left: auto;
}

.user-name {
  color: #dbae32;
  font-weight: 500;
  margin-right: 5px;
  text-decoration: underline;
}

.logout-btn {
  background-color: #dbae32;
  color: black;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s;
}

.logout-btn:hover {
  background-color: #c99d1f;
}

.nav-links a {
  text-decoration: none;
  font-weight: 500;
  color: white;
  transition: 0.2s;
}

.nav-links a:hover {
  color: rgb(207, 78, 207);
}

 .hamburger {
    
    display: none;  }

/* Responsive styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #444;
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    padding: 10px 0;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-left,
  .nav-right {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .hamburger {
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    display: block;
  }

  .nav-links {
    border: 2px solid white;
  }

  .nav-links a {
    display: block;
    background-color: gray;
    padding: 6px 12px;
    border: 2px solid black;
    margin-bottom: 6px;
    width: 100%;
    text-align: center;
  }

  .user-name,
  .logout-btn {
    width: 100%;
    text-align: center;
    margin: 5px 0;
  }
}

